/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Unbounded:wght@200;300;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Concert One', cursive;
    scroll-behavior: smooth;
}


.sidebar {
    position: fixed;
    height: 100%;
    width: 240px;
    background: rgb(194, 132, 253);
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 60px;
}

.sidebar .logo-details {
    height: 80px;
    display: flex;
    align-items: center;
}

.sidebar .logo-details i {
    font-size: 28px;
    font-weight: 500;
    color: black !important;
    min-width: 60px;
    text-align: center
}

.sidebar .logo-details img {
    width: 30px;
    height: 40px;
    margin-left: 16px;
    margin-right: 14px;
}

.sidebar .logo-details .logo_name {
    color: black !important;
    font-size: 24px;
    font-weight: 500;
}

.sidebar .nav-links {
    margin-top: 10px;
    margin-left: -32px !important;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    height: 50px;
}

.sidebar .nav-links li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li a.active {
    background: #081D45;
}

.sidebar .nav-links li a:hover {
    background: white;
    color: black !important;
}

.sidebar .nav-links li i {
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    color: black;
}

.sidebar .nav-links li a .links_name {
    color: black;
    font-size: 15px;
    font-weight: 400;
}

.sidebar .nav-links .log_out {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.home-section {
    position: relative;
    background: #fafbfe;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
}

.sidebar.active~.home-section {
    width: calc(100% - 60px);
    left: 60px;
}

.home-section nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 70px;
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 1px 2px 37px -3px rgba(28, 27, 27, 0.12);
    -webkit-box-shadow: 1px 2px 37px -3px rgba(28, 27, 27, 0.12);
    -moz-box-shadow: 1px 2px 37px -3px rgba(28, 27, 27, 0.12);
    transition: all 0.5s ease;
}

.sidebar.active~.home-section nav {
    left: 60px;
    width: calc(100% - 60px);
}

.home-section nav .sidebar-button {
    display: flex;
    align-items: center;
    font-size: 1.3em;
    font-weight: 500;
}

nav .sidebar-button i {
    font-size: 1.6em;
    margin-right: 10px;
    cursor: pointer;
}

.home-section nav .search-box {
    position: relative;
    display: block;
    height: 2em;
    max-width: 250px;
    width: 100%;
    margin: 0 20px;
}


nav .search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    background: #F5F6FA;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    padding: 0 15px;
}

nav .search-box .bx-search {
    position: absolute;
    height: 30px;
    width: 30px;
    background: #727cf4;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 3px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    transition: all 0.4 ease;
}

nav .right-set {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 32em;
    height: 100%;
}


nav .right-set .lang .dropdown {
    display: flex;
    align-items: center;
    width: 5.5em;
}



nav .right-set .lang .dropdown a {
    text-decoration: none;
    color: black;
}

nav .right-set .lang .dropdown img {
    width: 18.28px;
    height: 12px;
}

nav .right-set .lang .dropdown span {
    font-size: 0.8em;
    margin-left: 5px;
}

nav .right-set .lang .dropdown .dropdown-menu {
    position: fixed;
    top: 11vh;
    border-radius: 2px;
    left: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    width: 100px;
    box-shadow: 0px 0px 8px 1px rgb(0, 0, 0, 0.2);
}

nav .right-set .lang .dropdown .dropdown-menu div {
    width: 100%;
    height: 40px;
    font-size: 0.8em;
    display: flex;
    align-items: center;
}

nav .right-set .lang .dropdown .dropdown-menu div img {
    width: 18.28px;
    height: 12px;
    margin: 0 7px;
    margin-left: 15px;
}

nav .right-set .lang .dropdown .dropdown-menu div:hover {
    background-color: #fafbfe;
}

nav .right-set .lang .dropdown .dropdown-menu {
    visibility: hidden;
}

nav .right-set .lang .dropdown .dropdown-menu.show {
    visibility: visible;
}


nav .options {
    border-radius: 6px;
    height: 40px;
    max-width: 250px;
    width: 100%;
    /* margin:20px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav .options i {
    display: block;
    font-size: 1.5em;
    margin: 0 10px;
    color: black;
    transition: all 0.5s ease;
}

nav .options i:hover {
    transform: scale(1.3, 1.3);
}

.home-section nav .profile-details {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    min-width: 2.5em;
    background-color: #e7e7eb;
    cursor: pointer;
}

nav .profile-details .fa-user {
    height: 40px;
    width: 40px;
    padding: 10px;
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 50%;
}

nav .profile-details .admin_name {
    font-size: 0.9em;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
}

nav .profile-details a {
    /* font-size: 2.1em; */
    color: #333;
}

/*user dropdown*/

nav .profile-details .dropdown {
    display: flex;
    align-items: center;
    width: 5.5em;
}

nav .profile-details .dropdown a {
    text-decoration: none;
    color: black;
}

nav .profile-details .dropdown .dropdown-menu-user {
    position: fixed;
    top: 11vh;
    border-radius: 2px;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    width: 150px;
    box-shadow: 0px 0px 8px 1px rgb(0, 0, 0, 0.2);
}

nav .profile-details .dropdown .dropdown-menu-user div {
    width: 90%;
    margin: 0 auto;
    height: 40px;
    font-size: 0.8em;
    display: flex;
    align-items: center;
}

nav .profile-details .dropdown .dropdown-menu-user div img {
    width: 18.28px;
    height: 12px;
    margin: 0 7px;
    margin-left: 15px;
}

nav .profile-details .dropdown .dropdown-menu-user div:hover {
    background-color: #fafbfe;
}

nav .profile-details .dropdown .dropdown-menu-user {
    visibility: hidden;
}

nav .profile-details .dropdown .dropdown-menu-user.show {
    visibility: visible;
}

.home-section .home-content {
    position: relative;
    padding-top: 104px;
    padding-bottom: 74px;
}



/* home content*/

.home-content.hide {
    display: none;
}


.home-content .wrapper {
    background: #fff;
    width: 90%;
    height: 90vh;
    border-radius: 10px;
    margin: 0 auto;
}

.home-content .gre-content {
    /* border: 1px solid black; */
    margin: 0 auto;
    width: 93%;
    height: 1000px;
}

.gre-content .content1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.gre-content .content1 .img1 {
    height: 15rem;
    width: 40%;
    overflow: hidden;
}

.gre-content .content1 .img1 img {
    object-fit: fill;
    display: block;
    margin: 0 auto;
    margin-top: 2em;
}

.shade {
    box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, 0.3);
    border-radius: 5px;
}

.gre-content .content1 .left-content-1 {
    width: 60%;
    padding: 10px 10px 0 10px;
    line-height: 30px;
    word-spacing: 2px;
    font-size: 17px;
}

.gre-content .content2 {
    line-height: 30px;
    word-spacing: 2px;
    padding: 0px 10px 0 10px;
    font-size: 17px;
}

.gre-content .content3 {
    width: 100%;
}

.gre-content .content3 .img2 {
    width: 90%;
    margin: 0 auto;
}

.gre-content .content3 img {
    display: block;
    margin: 0 auto;
    width: 55%;
}

/*          Previous Trends             */

.home-content .prev-trends-content {
    margin: 0 auto;
    width: 93%;
}

.home-content .prev-trends-content>div {
    margin-bottom: 10px;
}
.home-content .prev-trends-content .year{
    overflow: hidden;
    max-height:55px;
    border:1px solid black;
    border-radius: 5px;
    padding:10px;
}
.home-content .prev-trends-content .year .row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.home-content .prev-trends-content .year .row1 .dd-icon{
    width:40px;
    height:40px;
    text-align: center;
    font-size: 30px;
    margin-top: -5px;
    transition:all 0.5s ease;
}
.prev-trends-content .year .row1 .dd-icon:hover {
    transform: scale(1.2,1.2);
}
.center {
    text-align: center;
}
.home-content .prev-trends-content .year.show2{
    min-height: 1000px;
}


/*              City Insights           */
.home-content .city-insights-content {
    margin: 0 auto;
    width: 93%;
}

.home-content .city-insights-content>div {
    margin-bottom: 50px;
}

/*              University Rankings         */
.home-content .university-rankings-content {
    margin: 0 auto;
    width: 93%;
}



.home-content .university-rankings-content>div {
    margin-bottom: 50px;
}

/*              View Score           */
.home-content .view-score-content {
    margin: 0 auto;
    width: 93%;
}

.home-content .view-score-content form {
    width: 100%;
}

.home-content .view-score-content .score-input {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, 0.3);
    margin-bottom: 40px;
}

.home-content .view-score-content .score-input #get_score {
    border: none;
    background: blueviolet;
    padding: 5px 15px;
    border-radius: 4px;
    margin-left: 2em;
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, 0.3);
}

.home-content .view-score-content  .display-info.hide {
    display: none;
}

.home-content .view-score-content .display-info {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, 0.3);
}

/*          University finder content*/

.home-content .university-finder-content {
    margin: 0 auto;
    width: 93%;
}

.home-content .university-finder-content input[type='submit'] {
    border: none;
    background: blueviolet;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
    color:white;
    box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, 0.2);
}

/*              Profile                     */
.home-content .profile-content {
    margin: 0 auto;
    width: 93%;
}
.home-content .profile-content .title{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px;

}
.home-content .profile-content .title i{
    font-size: 40px;
    cursor:pointer;
}
.home-content .profile-content .info{
    border: 1px solid black;
    padding:10px;
}
.home-content .profile-content .info form{
    width:100%;
    height:100%;
}
.profile-content .info form .user-info .ui-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:10px;
}

/*              Chat Box            */
.open-button {
    background-color: rgb(156, 32, 136);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
    margin-right: -270px;
    transition: all 0.7s ease;
}

.open-button:hover {
    margin-right: -30px;
}


.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;

}


.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}


.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}


.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}


.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}


.form-container .cancel {
    background-color: red;
}


.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}



/* Responsive Media Query */
@media (max-width: 1240px) {
    .sidebar {
        width: 60px;
    }

    .sidebar.active {
        width: 220px;
    }

    .home-section {
        width: calc(100% - 60px);
        left: 60px;
    }

    .sidebar.active~.home-section {
        /* width: calc(100% - 220px); */
        overflow: hidden;
        left: 220px;
    }

    .home-section nav {
        width: calc(100% - 60px);
        left: 60px;
    }

    .sidebar.active~.home-section nav {
        width: calc(100% - 220px);
        left: 220px;
    }
}


@media (max-width: 700px) {

    nav .sidebar-button .dashboard,
    nav .profile-details .admin_name,
    nav .profile-details i {
        display: none;
    }

    .home-section nav .profile-details {
        height: 50px;
        min-width: 40px;
    }
}

@media (max-width: 550px) {
    .sidebar.active~.home-section nav .profile-details {
        display: none;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 0;
    }

    .sidebar.active {
        width: 60px;
    }

    .home-section {
        width: 100%;
        left: 0;
    }

    .sidebar.active~.home-section {
        left: 60px;
        width: calc(100% - 60px);
    }

    .home-section nav {
        width: 100%;
        left: 0;
    }

    .sidebar.active~.home-section nav {
        left: 60px;
        width: calc(100% - 60px);
    }
}